body {
    text-align: center;
    font-size: 100px;
    background-color: cadetblue;
    color: chartreuse;
    font-family: cursive;
}

#games {
    font-size: 50px;
    color: aquamarine;
}

h4 {
    color: aquamarine;
    font-size: 80px
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}
